.content {
    /*padding: 10px;*/
}

.article-list {
    padding: 0px 10px;
    overflow-y: scroll;
    height: 550px;
}
.article-left{
    padding: 10px;
    width: 80%;
}
.article-list > .article-admin {
    margin-bottom: 8px;
    overflow: hidden;
    border: 1px solid #cccaca;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0px 0px 20px 0px #d7d2d2;
    /*width: 90%;*/
}

.article-list > .article-admin > .article-title{
    font-size: 26px;
}

.article-list > .article-admin > .article-time {
    float: right;
}

.tools {
    overflow: hidden;
    margin-bottom: 6px;
}
