.tools > span {
    display: inline;
}

.edit {
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
    width: 49%;
    left: 180px;
    height: auto;
    min-height: 84%;
    background-color: #f9f9f5;
}

.edit-title {
    margin: 5px 10px;
    width: 100%;
    /*margin-bottom: 10px;*/
}

.edit-title > .title {
    width: 80%;
    display: inline;
}

.post {}

.tools {
    width: 100%;
    padding: 0 10px;
}

.btn-tools {
    font-size: 14px;
}

#preview {
    /*margin-right: 5px;*/
    background-color: #f9f9f5;
    float: right;
    width: 49%;
    height: auto;
    min-height: 84%;
}

.edit-left {
    float: left;
    width: 80%;
    height: 100%;
}

.writing {
    overflow-y: auto;
    height: 100%;
}

.input-link {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 400px;
}

.input-link > .panel-heading {
    cursor: move;
}

.input-link > h3 {
    cursor: auto;
    user-select: none;
}

.link-add {
    margin-top: 5px;
    float: right;
}

.file-up {
    margin-top: 3px;
    float: right;
    width: 65%;
}

.edit-right {
    position: absolute;
    left: 80%;
    width: 18%;
    padding: 5px;
    float: left;
}

.sort-list {
    padding: 5px;
    background: #E0E0E0;
}

.sort-list li {
    list-style: none;
}

.sort-list p {
    margin: 0px;
}

.sort-list > ul > li > ul > li > p {
    margin-left: 10px;
}

.sort-list ul {
    padding: 0px;
}

.msg {
    top: 40%;
    left: 5%;
    position: absolute;
    width: 70%;
    display: none;
}
